body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0px;
    background-color:#edfaf1;
  }

  h1 {
    color: #333;
  }

  p {
    margin-bottom: 15px;
  }

  .container {
    max-width: 800px;
    margin: 0 auto;
  }

